* {
    margin: 0px;
    padding: 0px;
    color: white;
}

body {
    background-image: url(./img/star_wars_space_background.jpg);

}

#logout {
    text-decoration: none;
    background-image: none;
    padding: 3px;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 5px;
    background-color: #484848;
    color: white;
    margin-right: 20px;
    margin-left: 20px;
}

#boba {
    width: 30%;
}

.page_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 50%;
}

#planet_type {
    width: 300px;
    background-image: none;
    margin-left: 35px;
}

#planet_info {
    background-color: #151515;
    border: 2px darkgrey solid;
    border-radius: 10px;
    background-image: none;
    width: 25%;
    margin: auto;
    padding: 10px;
    margin-top: -2%;
}

#planet_info form {
    display: flex;
    margin: auto;
}

header {
    display: flex;
    margin: auto;
    margin-top: 15px;
}

#go_back {
    text-decoration: none;
    background-image: none;
    padding: 3px;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 5px;
    background-color: #484848;
    color: white;
}

#travel_button {
    text-decoration: none;
    background-image: none;
    padding: 3px;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 5px;
    background-color: #484848;
    color: white;
    margin: auto;
}

