<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static './character_style.css' %}">
    <title>Character Selection</title>
</head>

<body>
    <div class="page_wrapper">
        <div class="Selector">
            {% if selector > 0 and selector < 4 %} 
            {% for character in Characters %}
                <div>
                    <h2>{{character.Char_First_Name}} {{character.Char_Last_Name}}</h2>
                <a href="galaxyhub">
                    <img id="boba" src="{% static 'img/' %}{{character.Char_Race.name}}.png"
                        alt="{{character.Char_First_Name}} {{character.Char_Last_Name}}">
                </a>
        </div>
        {% endfor %}
        {% endif %}
        <div>
            {% if selector < 4 %}
            <a href="Character_final_creation">
                <img id="boba" src="{% static 'img/Default_Blank.png' %}" alt="Default Blank">
            </a>
        </div>
        {% endif %}
    </div>
    </div>

</body>

</html>