<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static './sheety_style.css' %}">
    <title>Rules</title>

</head>

<body>
    <div>
        <br>
        <h2>Gameplay</h2>
        <h3>Skills</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Totam cupiditate porro corporis expedita labore
            nostrum alias adipisci fuga, officia, eius nobis. Quod eveniet dolores illum similique, nulla dignissimos
            sapiente minima. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet aut commodi quibusdam
            odit accusantium totam eos velit mollitia repudiandae in ab officia doloremque, voluptas placeat ducimus
            dignissimos. Magni, dolor obcaecati?</p>
        <br>
        <h3>Travel</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid porro, odit autem eos inventore numquam
            reiciendis, minus laudantium magnam asperiores vitae. Accusantium, mollitia necessitatibus dolor earum
            placeat tempore quos repudiandae!</p>
        <br>
        <h3>occupations</h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sunt quae, ex inventore qui nemo impedit ducimus
            labore culpa deleniti repellat praesentium molestias tempore nostrum obcaecati quia? Iure corrupti
            perferendis ex.</p>
        <br>
        <h3>placeholder</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis voluptatem voluptates atque facere
            eveniet ratione officiis ducimus aspernatur neque eum ad tempore ipsum, quasi eius hic quis ullam adipisci
            perspiciatis.</p>
    </div>
</body>

</html>